*{
    font-family: roboto;
}

body{
    padding: 0px;
    margin: 0px;
 

}

.container{
    width: 100%;
    padding: 5px;
    white-space : nowrap;
    overflow-x : scroll;
}

.card{
    white-space : normal;
    display : inline-block;
    width: 440px;
    border-radius: 12px;
    margin: 20px;
    padding: 50px;
    box-shadow: 10px 10px 50px 3px rgba(39, 92, 141, 0.1);
}

h1{
    font-size: 44px;
    font-weight: 500;
    color: #23242A;
}

a:hover{
    cursor: pointer;
    color:#0E6FFF;
}