*{
    font-family: roboto;
    box-sizing: border-box;
}
body{
    padding: 10px 146px;

}


.headeroptions{
    width: 300px;
    float: right;
    display: flex;
    justify-content: space-around;
}

.menu-img{
    cursor: pointer;
    float: right;
    display: none;
}

a{
    text-decoration: none;
    cursor: pointer;
    font-weight: 500;
    font-size: 20px;
    color: #000000;
}

.header-bio-container{
    width: 100%;
    display: grid;
    margin-top: 100px;
    margin-bottom: 30px;
    grid-template-areas: "first second";
}

.biodiv{
    grid-area: first;
    display: inline-block;
}

.name{
    font-weight: bold;
    font-size: 44px;
    color: #21243D;
}

.bio{
    font-weight: normal;
    font-size: 16px;
    color: #21243D;
    margin-bottom: 30px;
}

.img-div{
    text-align: right;
}

.downloadbtn{
    display: block;
    width: 208px;
    height: 47px;
    cursor: pointer;
    background: #FF6464;
    border: none;
    margin-top: auto;
    border-radius: 2px;
    font-weight: 500;
    font-size: 20px;
    color: #FFFFFF;
}

.img{
    height: 243px;
    width: 243px;
    border-radius: 50%;
    grid-area: second;
    display: inline-block;
    background: url(./images/KhalidObaide.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

} 

.posts{
    width: 100%;
    text-align: center;
    background-color: #EDF7FA;
    margin-bottom: 30px;
    padding: 20px;
}

.title-div{
    width:100%;
    display: flex;
    justify-content: space-around;
    
}

.post-cards-div{
    display: grid;
    grid-template-columns: 50% 50%;
}

.posts-title{
    font-weight: normal;
    font-size: 22px;
    display: inline-block;
    color: #21243D;
}

.view{
    font-size: 16px;
    line-height: 23px;
    cursor: pointer;
    margin: auto 0px;
    float: right;
    color: #00A8CC;
}

.post-card{
    display: inline-block;
    text-align: left;    
    padding: 30px; 
    margin: 20px;
    border-radius: 4px;
    background-color: #FFF;
    box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
    vertical-align: middle;
}

.post-title{
    font-size: 26px;
    font-weight: bold;
    color: #21243D;
    display: block;
    margin-bottom: 40px;
}

.works{
    width: 100%;
    margin-bottom: 30px;
    border-bottom:1px solid #E0E0E0;
}

.works-title{
    font-weight: 400;
    font-size: 22px;
    color: #21243D;
    line-height: 60px;
}

.work-image{
    width: 246px;
    display: inline-block;
    margin: 10px;
    border-radius: 6px;
}

.work-detail{
    vertical-align: top;
    margin: -20px 10px 0px 10px;
    margin-top: 5px;
    display: inline-block;
}

.work-name{
    font-weight: bold;
    margin-top: -8px;
    vertical-align: top;
    font-size: 30px;
    color: #21243D;
}

.work-date{
    width: 62px;
    height: 25px;
    text-align: center;
    background: #142850;
    border-radius: 16px;
    font-weight: 900;
    font-size: 18px;
    color: #FFFFFF;
}

.work-bio{
    font-size: 16px;
    color: #21243D;
}

.icons-div{
    margin:0px auto;
    cursor: pointer;
    width: 300px;
   display: flex;
   max-width: 100%;
    justify-content: space-between;
}

.footer-text-div{
    margin: 0px auto;
    width: 250px;
    margin-top: 30px;
}

.footer-text{
    font-size: 14px;
    color: #21243D;
    max-width: 100%;
    display: block;
}
@media (max-width : 1206px){
    .post-cards-div{
        grid-template-columns: 100%;
        width: 100%;
        margin: 20px 0px;

    }

}



@media (max-width : 1013px){
    body{
        padding: 0px;
    }

    .headeroptions{
        display: none;
    }

    .menu-img{
        display: block;
    }


    
    .header-bio-container{

        grid-template-areas: "second" "first";
    }
    .img-div{
        text-align: center;
    }

    .biodiv{
        text-align: center;
       
    }

    .downloadbtn{
        margin: auto;
    }

    .view{
        display: none;
    }

    
    .post-card{
        width: auto;
        
    }

    .works{
        height: auto;
    }

    .work-image{
        width: 100%;
        border-radius: 6px;
    }

    
}

/* this is the blog page start */

.blog-header-options{
    width: 300px;
    float: right;
    display: flex;
    justify-content: space-around;
}

.wrapper-div{
    width: 100%;
}

.title{
    font-weight: bold;
    font-size: 44px;
    color: #21243D;
    margin-bottom: 80px;
}

.blog-wrapper-div{
    padding: 10px 0px;
    width: 100%;
    margin: 50px 0px;
    border-bottom: 1px solid #E0E0E0;
}

.blog-title{
    font-weight: 500;
    font-size: 30px;
    color: #21243D;   
}

.blog-date{
    font-size: 20px;
    color: #21243D;
}

.blog-bio{
    font-size: 16px;
    color: #21243D;
}

.blog-name{
    font-size: 20px;
    color: #8695A4;
}

@media (max-width : 1013px){
    .blog-header-options{
        display: none;
    }
}
